<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="works.css">
</head>
<body>
  <nav>
    <ul>
      <li>
        <a href="/">Home</a>
      </li>
      <li>
        <a href="/about">About</a>
      </li>
      <li>
        <a href="/works">Works</a>
      </li>
    </ul>
  </nav>
  <h1>Tours Results</h1>
  <table>
    <tr>
      <th>Torneo</th>
      <th>Tipo de torneo</th>
      <th>Fecha</th>
      <th>Puntos</th>
      <th>Fase</th>
      <th>Ronda</th>
    </tr>
    <tr>
      <td>Cervezas Victoria Marbella Master 2021</td>
      <td>MASTER</td>
      <td>13/06/2021</td>
      <td>1700</td>
      <td>Cuadro</td>
      <td>Campeón</td>
    </tr>
    <tr>
      <td>Estrella Damm Santander Open 2021</td>
      <td>OPEN</td>
      <td>30/05/2021</td>
      <td>1000</td>
      <td>Cuadro</td>
      <td>Campeón</td>
    </tr>
    <tr>
      <td>Cupra Vigo Open 2021</td>
      <td>OPEN</td>
      <td>16/05/2021</td>
      <td>340</td>
      <td>Cuadro</td>
      <td>Semifinalista</td>
    </tr>
    <tr>
      <td>Estrella Damm Santander Open 2021</td>
      <td>OPEN</td>
      <td>30/05/2021</td>
      <td>1000</td>
      <td>Cuadro</td>
      <td>Campeón</td>
    </tr>
    <tr>
      <td>Adeslas Madrid Open 2021</td>
      <td>OPEN</td>
      <td>11/04/2021</td>
      <td>170</td>
      <td>Cuadro</td>
      <td>Cuartos</td>
    </tr>
    <tr>
      <td>Estrella Damm Menorca Master Final 2020</td>
      <td>MASTER</td>
      <td>13/12/2020</td>
      <td>780</td>
      <td>Cuadro</td>
      <td>Finalista</td>
    </tr>
    <tr>
      <td>Cupra Las Rozas Open 2020</td>
      <td>OPEN</td>
      <td>22/11/2020</td>
      <td>360</td>
      <td>Cuadro</td>
      <td>Semifinalista</td>
    </tr>
    <tr>
      <td>Estrella Damm Alicante Open 2020</td>
      <td>OPEN</td>
      <td>08/11/2020</td>
      <td>1000</td>
      <td>Cuadro</td>
      <td>Campeón</td>
    </tr>
    <tr>
      <td>Estrella Damm Barcelona Master 2020</td>
      <td>MASTER</td>
      <td>18/10/2020</td>
      <td>1700</td>
      <td>Cuadro</td>
      <td>Campeón</td>
    </tr>
    <tr>
      <td>Estrella Damm Menorca Open 2020</td>
      <td>OPEN</td>
      <td>27/09/2020</td>
      <td>360</td>
      <td>Cuadro</td>
      <td>Semifinalista</td>
    </tr>
    <tr>
      <td>Sardegna Open 2020</td>
      <td>OPEN</td>
      <td>13/09/2020</td>
      <td>360</td>
      <td>Cuadro</td>
      <td>Semifinalista</td>
    </tr>
    <tr>
      <td>Estrella Damm València Open 2020</td>
      <td>OPEN</td>
      <td>06/09/2020</td>
      <td>1000</td>
      <td>Cuadro</td>
      <td>Campeón</td>
    </tr>
    <tr>
      <td>Adeslas Open 2020</td>
      <td>OPEN</td>
      <td>09/08/2020</td>
      <td>1000</td>
      <td>Cuadro</td>
      <td>Campeón</td>
    </tr>
    <tr>
      <td>Vuelve a Madrid Open 2020</td>
      <td>OPEN</td>
      <td>19/07/2020</td>
      <td>1000</td>
      <td>Cuadro</td>
      <td>Campeón</td>
    </tr>
    <tr>
      <td>Estrella Damm Open 2020</td>
      <td>OPEN</td>
      <td>05/07/2020</td>
      <td>1000</td>
      <td>Cuadro</td>
      <td>Campeón</td>
    </tr>
    <tr>
      <td>Sao Paulo Padel Open 2019</td>
      <td>OPEN</td>
      <td>24/11/2019</td>
      <td>1000</td>
      <td>Cuadro</td>
      <td>Campeón</td>
    </tr>
    <tr>
      <td>Euro Finans Swedish Padel Open 2019</td>
      <td>OPEN</td>
      <td>30/06/2019</td>
      <td>1000</td>
      <td>Cuadro</td>
      <td>Campeón</td>
    </tr>
  </table>
</body>
</html>